.erros{
    font-size: 16px;
    color: red;
}

#light {
    background-color:  #f8f4ef;
    color: black;
}
#dark {
    background-color: rgb(39, 39, 39);
    
}

#light .main {
    background-color:  #f8f4ef;
}

#dark h1 {
    color: #f8f4ef;
}
#dark  {
    color: #f8f4ef;
}
